# Base
*~
*.swp
.DS_Store
.cm

# TeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.synctex.gz

# Compiler
*.abs
*.ll
*.s
c0c
/compiler*
/staff-test-compiler*
log
harness/driver

# OCaml
*.a
*.annot
*.bc
*.byte
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.install
*.native
*.o
_build/
_opam/
setup.data
setup.log
.merlin

# Haskell
*.aux
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.eventlog
*.hi
*.hp
*.o
*.prof
.HTF/
.cabal-sandbox/
.ghc.environment.*
.hpc
.hsenv
.stack-work/
Lexer.hs
Parser.hs
cabal-dev
cabal.project.local
cabal.project.local~
cabal.sandbox.config
dist-*
shellbins/

# Java
*.class
*.log
hs_err_pid*

# Swift
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
.idea/
DerivedData
Pods
profile
xcshareddata/
xcuserdata/
